@import 'tailwindcss';
@import "@nuxt/ui";

@theme {
  --font-*: initial;
  --font-sans:
    Inter, Avenir Next, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Ubuntu, 'Helvetica Neue', Arial, 'Noto Sans JP', 'Hiragino Sans', 'Meiryo',
    'Yu Gothic', 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: 'Noto Serif JP', serif;
  --font-mono:
    Cascadia Code, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;

  --shadow-zoop:
    rgba(102, 109, 128, 0.08) 0px 1.2672px 1.2672px 0px,
    rgba(102, 109, 128, 0.08) 0px 5.06879px 10.1376px 0px;
  --shadow-zoopdark:
    rgba(10, 10, 10, 0.2) 0px 1.2672px 1.2672px 0px,
    rgba(10, 10, 10, 0.2) 0px 5.06879px 10.1376px 0px;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.ip-jp {
  text-indent: 1em;
}
.ip-zh {
  text-indent: 2em;
}